data_source
training/models
training/tmp
experimentations/models
experimentations/preprocessing
experimentations/keras_*
experimentations/old
experimentations/*/__py*
experimentations/__py*/*.pyc
experimentations/tmp
